.reservation {
  display: flex;
  flex-direction: column;
  background-image: url(background_reservation.svg);
  background-position: center;
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
}
.reservation__title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  font-family: Inter;
  font-style: normal;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 120px;
  box-sizing: border-box;
  max-width: 385px;
}
