.page {
  max-width: 1600px;
  min-width: 1100px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  display: flex;
  flex-direction: row;
}

.header__title {
  display: flex;
  flex-direction: column;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  position: relative;
}

.header__title::after {
  content: "en Triple Peaks";
  color: black;
  font-family: "Inter";
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  max-width: 709px;
  left: 80px;
}

.header__description {
  max-width: 515px;
  margin-top: 32px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif";
}

.header__image {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__address {
  margin-left: auto;
}

.header__timetable {
  margin-right: auto;
}

.header__paragraph {
  margin: 0;
}

.content {
  display: block;
}

.recipes {
  display: flex;
  flex-direction: column;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  padding-top: 24px;
  max-width: 438px;
}

.recipes__videos {
  max-width: 480px;
  max-height: 273px;
  display: flex;
  max-width: 100%;
  height: auto;
  margin: 80px auto 215px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.recipes__video-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 40px;
}

.recipes__iframe {
  width: 450px;
  height: 200px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  align-items: center;
}
